body {
    background: #ebebeb;
}
@font-face {
    font-family: 'nunitoblack';
    src: url('../../fonts/nunito/nunito-black-webfont.woff2') format('woff2'),
         url('../../fonts/nunito/nunito-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitobold';
    src: url('../../fonts/nunito/nunito-bold-webfont.woff2') format('woff2'),
         url('../../fonts/nunito/nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitoextrabold';
    src: url('../../fonts/nunito/nunito-extrabold-webfont.woff2') format('woff2'),
         url('../../fonts/nunito/nunito-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitoextralight';
    src: url('../../fonts/nunito/nunito-extralight-webfont.woff2') format('woff2'),
         url('../../fonts/nunito/nunito-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitolight';
    src: url('../../fonts/nunito/nunito-light-webfont.woff2') format('woff2'),
         url('../../fonts/nunito/nunito-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitomedium';
    src: url('../../fonts/nunito/nunito-medium-webfont.woff2') format('woff2'),
         url('../../fonts/nunito/nunito-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitoregular';
    src: url('../../fonts/nunito/nunito-regular-webfont.woff2') format('woff2'),
         url('../../fonts/nunito/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitosemibold';
    src: url('../../fonts/nunito/nunito-semibold-webfont.woff2') format('woff2'),
         url('../../fonts/nunito/nunito-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'nunitoregular';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'nunitosemibold';
}
.btn-lg {
    height: 48px;
}
/*=============== 6.6 Login Page ==================*/
.register-page-wrap {
  background-image: url('../../img/figure/login-bg.jpg');
  background-repeat: no-repeat;
  background-position: top;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .register-page-wrap {
    position: relative;
    height: auto;
  }
}
.register-page-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
@media only screen and (max-width: 575px) {
  .register-page-content {
    padding: 50px 20px;
  }
}
.register-page-content .register-wizard-steps {
    background: #333;
    padding: 30px;
    border-radius: 4px 0 0 4px;
    white-space: nowrap;
    height: 100%;
}
.register-page-content .register-wizard-steps a {
    color: #fff;
}
.register-page-content .register-wizard-steps ul {
    position: relative;
    align-self: center;
}
.register-page-content .register-wizard-steps ul::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 40px;
    bottom: 40px;
    width: 1px;
    background: #fff;
}
.register-page-content .register-wizard-steps li {
    margin: 30px 0;
    padding-left: 50px;
    position: relative;
}
.register-page-content .register-wizard-steps li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #333;
}
.register-page-content .register-wizard-steps li.active:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.6);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* border: 1px solid #fff; */
    background: #fff;
}
.register-page-content .register-wizard-steps li.active, .register-page-content .register-wizard-steps li.active a {
    color: #ccc;
}
.wizard-tab:not(.active) {
    display: none;
}
.register-page-content .register-box {
  min-width: 470px;
  padding: 6rem 7rem;
  border-radius: 0 4px 4px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 49px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 49px 0px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 575px) {
  .register-page-content .register-box {
    min-width: 300px;
    padding: 6rem 4rem;
  }
}
@media only screen and (max-width: 479px) {
  .register-page-content .register-box {
    padding: 6rem 2rem;
  }
}
.register-page-content .register-box .item-logo {
  text-align: center;
  margin-bottom: 40px;
}
.register-page-content .register-box .login-form .form-group {
  position: relative;
  margin-bottom: 18px;
}
.register-page-content .register-box .login-form .form-group > label {
  font-size: 15px;
  font-weight: 500;
  color: #444444;
  margin-bottom: 10px;
}
.register-page-content .register-box .login-form .form-group .form-control {
  background-color: transparent;
  border: 1px solid #c2c2c2;
  padding: 5px 35px 5px 20px;
}
.register-page-content .register-box .login-form .form-group > input {
  height: 50px;
}
.register-page-content .register-box .login-form .form-group i {
  position: absolute;
  top: 34%;
  right: 18px;
  font-size: 15px;
  color: #9f9f9f;
}
.register-page-content .register-box .login-form .form-group input.form-control::-webkit-input-placeholder,
.register-page-content .register-box .login-form .form-group textarea.form-control::-webkit-input-placeholder {
  color: #adadad;
  font-size: 15px;
}
.register-page-content .register-box .login-form .form-group input.form-control::-moz-placeholder,
.register-page-content .register-box .login-form .form-group textarea.form-control::-moz-placeholder {
  color: #adadad;
  font-size: 15px;
}
.register-page-content .register-box .login-form .form-group input.form-control:-ms-input-placeholder,
.register-page-content .register-box .login-form .form-group textarea.form-control:-ms-input-placeholder {
  color: #adadad;
  font-size: 15px;
}
.register-page-content .register-box .login-form .form-group .form-check .form-check-label {
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  font-weight: 500;
  color: #444444;
}
.register-page-content .register-box .login-form .form-group .form-check .form-check-label:before {
  top: 1px;
}
.register-page-content .register-box .login-form .form-group .form-check .form-check-label:after {
  top: 2px;
}
.register-page-content .register-box .login-form .form-group .forgot-btn {
  font-size: 14px;
  color: #ff0000;
  font-weight: 500;
}
.register-page-content .register-box .login-form .form-group .login-btn {
  cursor: pointer;
  width: 100%;
  border: none;
  margin-top: 30px;
  position: relative;
  text-align: center;
  display: block;
  font-weight: 700;
  color: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#042954), to(#0b4776));
  background: -o-linear-gradient(bottom, #042954, #0b4776);
  background: linear-gradient(to top, #042954, #0b4776);
  border-radius: 4px;
  padding: 16px 10px;
  z-index: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.register-page-content .register-box .login-form .form-group .login-btn:after {
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #0b4776, #042954);
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.register-page-content .register-box .login-form .form-group .login-btn:hover:after {
  visibility: visible;
  opacity: 1;
}
.register-page-content .sign-up {
  color: #ffffff;
}
.register-page-content .sign-up a {
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.register-page-content .sign-up a:hover {
  color: #ffaa01;
}
/**
 * Step Wizards
 * Toggle between tab panels and used to convert tab to wizard.
 */
.step-wizard-tabs {
    padding: 0;
}
.step-wizard-tabs ul {
    padding: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
}
.step-wizard-tabs ul li {
    position: relative;
}
.step-wizard-tabs ul li:before, .step-wizard-tabs ul li:after {
    content: "";
    position: absolute;
    height: 60%;
    width: 0px;
    right: -30px;
    top: 0;
    bottom: 0;
    border: 15px solid;
    border-width: 29px 15px;
    border-color: transparent transparent transparent #fff;
    z-index: 2;
}
.step-wizard-tabs ul li:after {
    margin-left: 2px;
    border-color: transparent transparent transparent #000;
    z-index: 1;
}
.step-wizard-tabs ul li>a {
    display: block;
    padding: 15px;
    color: inherit;
    line-height: 25px;
}
.step-wizard-tabs ul li:not(:first-child)>a {
    padding-left: 30px;
}
.step-wizard-tabs ul li.visited>a {
    background: #27ae60;
    color: #fff;
}
.step-wizard-tabs ul li.visited:before {
    border-color: transparent transparent transparent #27ae60;
}
.step-wizard-tabs ul li.current>a {
    background: #2980b9;
    color: #fff;
}
.step-wizard-tabs ul li.current:before {
    border-color: transparent transparent transparent #2980b9;
}
.step-wizard-tabs ul li .step-no {
    border-radius: 50%;
    display: inline-block;
    background: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 15px;
}
.step-wizard-tabs ul li.visited .step-no, .step-wizard-tabs ul li.current .step-no {
    color: #000;
    background: #fff;
}
.step-wizard-panel:not(.active) {
    display: none;
}
.register-page-content .register-box .login-form .form-group .form-control[readonly] {
    background: #ccc;
    cursor: not-allowed;
}
/**
 * Plan Radio Button
 */
.panel-select {
    display: block;
}
.panel-select .label-name {
    border: 1px solid #ccc;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #f9f9f9;
    cursor: pointer;
}
.panel-select .label-name:hover {
    background: #f5f5f5;
}
.panel-select input[type=radio]:checked + .label-name {
    background: #27ae60;
    border-color: #16a085;
    color: #fff;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -1px;
  bottom: -4px;
  background-color: white;
  box-shadow: 0 0 5px #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.admin_logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
}
.profile_pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/* Switch On-Off Styles */
.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer; border-radius: 2px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "P";
    padding-left: 10px;
    background-color: #7CBF7C; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "A";
    padding-right: 10px;
    background-color: #E02020; color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 17px; margin: 1px;
    background: #fff;
    position: absolute; top: 0; bottom: 0;
    right: calc(100% - 19px);
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
